@using SD_310_W22SD_Assignment.Models.ViewModels
@model UserSelectViewModel

<h1>Select a User to See Collection</h1>

<form asp-action="Songs">
    <select name="userId" asp-items="@Model.UserSelectItems"></select>
    <button type="submit">Select</button>
</form>


@if(Model.Selected)
{
    <h3>@Model.SelectedUser.UserName's Wallet Balance: @Model.SelectedUser.Wallet</h3>
    <form asp-action="SelectUser">
        <input type="number">
        <input type="submit">
    </form>
    <h3>@Model.SelectedUser.UserName Collection</h3>
    <table class="table">
        <thead>
            <tr>   
                <th>
                    @Html.DisplayNameFor(item => item.Songs.First().Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(item => item.Songs.First().Title)
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach(Song song in Model.SelectedUser.Songs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => song.Artist.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => song.Title)
                </td>
            </tr>
        }
        </tbody>
    </table>
}

<h3><a asp-action="SelectUserToAddSongs">Add Song to Collection</a></h3>
<h3><a asp-action="SelectArtist">Songs by Artist</a></h3>
<h3><a asp-action="GetTops">Go to Tops Page</a></h3>
